<div id="wrapper">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#" >
					<h4>Menu</h4>
				</a>
			</li>

			<li style="font-size: 20px;">
				<%= link_to ' Eventos', eventos_path,class: "glyphicon glyphicon-home" %>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Atividades', atividades_path , class: "glyphicon glyphicon-map-marker"%>
			</li>
			<li style="font-size: 20px;">
				<%= link_to ' Participantes', participantes_path , class: "glyphicon glyphicon-user"%>
			</li>
		</ul>
	</div>
</div>
